.listing {
    margin: auto;
    flex-direction: column;

 /* Ensure padding and border are included in width/height calculations */
    
    .course {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; /* Ensure the course section spans full width */
      padding: 80px 0;
      font-weight: bolder;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      background-color: #eaf5e6;
      color: #302f2f;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap; /* Ensure items wrap if needed */
    }
  }
  